<template>
  <v-container fluid>
    <v-card outlined class="mx-auto" max-width="50%">
      <v-row
        justify="center"
      >
        <v-col justify="center">
          <h1>Time Budget</h1>
        </v-col>
      </v-row>
      <v-expansion-panels>
          <category
            v-for="(category, index) in categories"
            :key="index"
            :category="category"
            v-on:log-time="logTime($event.id, $event.duration)"
            v-on:clear-log="clearLog($event)"
          >
          </category>
      </v-expansion-panels>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-fab-transition>
            <v-btn
              color="success"
              fab
              x-small
              dark
              bottom
              absolute
              v-on="on"
              @click.stop="createCategoryModal = true"
            >
              <v-icon>mdi-plus</v-icon>
            </v-btn>
           </v-fab-transition>
        </template>
        <span>Create Category</span>
      </v-tooltip>
    </v-card>
  <v-dialog persistent v-model="createCategoryModal" max-width="25%">
      <v-card>
        <v-card-title class="headline">Create New Category</v-card-title>
          <v-card-text>
            <v-form>
              <v-text-field
                v-model="createCategoryForm.name"
                label="Name:"
                placeholder="Enter name"
                required>
              </v-text-field>
              <v-text-field
                v-model="createCategoryForm.time"
                label="Goal:"
                placeholder="1d 0h 30m"
                required>
              </v-text-field>
              <v-btn icon color="blue-gray" @click="onResetCategory">
                <v-icon>mdi-close</v-icon>
              </v-btn>
              <v-btn icon color="primary" @click="onSubmitCategory">
                <v-icon>mdi-check</v-icon>
              </v-btn>
            </v-form>
          </v-card-text>
        </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios';
import Category from './Category.vue';

const parse = require('parse-duration');

export default {
  components: {
    Category,
  },
  data() {
    return {
      categories: [],
      createCategoryModal: false,
      createCategoryForm: {
        name: '',
        time: 0,
        logged: 0,
      },
      API_BASE_URL: process.env.VUE_APP_API_BASE_URL,
    };
  },
  methods: {
    getCategories() {
      const path = `${this.API_BASE_URL}/categories`;
      axios.get(path)
        .then((res) => {
          this.categories = res.data;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    createCategory(payload) {
      const path = `${this.API_BASE_URL}/categories`;
      axios.post(path, payload)
        .then(() => {
          this.getCategories();
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    initCategoryForm() {
      this.createCategoryForm.name = '';
      this.createCategoryForm.time = 0;
      this.createCategoryForm.logged = 0;
    },
    onSubmitCategory(evt) {
      evt.preventDefault();
      this.createCategoryModal = false;
      const payload = {
        name: this.createCategoryForm.name,
        time: parse(this.createCategoryForm.time, 's'),
        logged: this.createCategoryForm.logged,
      };
      this.createCategory(payload);
      this.initCategoryForm();
    },
    onResetCategory(evt) {
      evt.preventDefault();
      this.createCategoryModal = false;
      this.initCategoryForm();
    },
    clearLog(catId) {
      const path = `${this.API_BASE_URL}/categories/${catId}/log`;
      axios.delete(path)
        .then(() => {
          this.getCategories();
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    logTime(catId, dur) {
      const path = `${this.API_BASE_URL}/categories/${catId}/log?duration=${dur}`;
      axios.post(path)
        .then(() => {
          this.getCategories();
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
  },
  created() {
    this.getCategories();
  },
};
</script>
