<template>
<v-expansion-panel>
   <v-expansion-panel-header style="font-size: 16px" disable-icon-rotate>
     <v-row no-gutters>
     <v-col cols="6">
         {{ category.object.name }}
     </v-col>
     <v-col cols="6">
     <v-progress-linear
       rounded
       color="green"
       height="8px"
       :value="getProgress()"
     >
     </v-progress-linear>
     </v-col>
     </v-row>
     <template v-slot:actions>
       <v-icon></v-icon>
     </template>
   </v-expansion-panel-header>
   <v-expansion-panel-content align="left">
     <v-row no-gutters>
     <v-col cols="6">
      Goal: {{ formatDuration(category.object.time) }}
     </v-col>
     <v-col cols="6">
      Logged: {{ formatDuration(category.object.logged) }}
     <v-btn icon dark small color="blue-grey" @click="$emit('clear-log', category.id)">
       <v-icon dark>mdi-refresh-circle</v-icon>
     </v-btn>
     <v-menu v-model="logTimeMenu" top offset-y :close-on-content-click="false">
       <template v-slot:activator="{ on, attrs }">
         <v-btn icon dark small color="green" v-on="on" v-bind="attrs">
           <v-icon dark>mdi-plus-circle</v-icon>
         </v-btn>
       </template>
       <v-list no-gutters>
         <v-list-item>
         <v-list-item-content>
            <v-text-field
              single-line
              dense
              required
              placeholder="Enter Duration"
              v-model="logTimeString">
            </v-text-field>
          </v-list-item-content>
          <v-list-item-action>
            <v-btn icon color="primary" @click="onLogTime()">
              <v-icon>mdi-check</v-icon>
            </v-btn>
          </v-list-item-action>
          </v-list-item>
       </v-list>
     </v-menu>
     </v-col>
     </v-row>
  </v-expansion-panel-content>
</v-expansion-panel>
</template>

<script>
const parse = require('parse-duration');
const moment = require('moment');
const momentDurationFormat = require('moment-duration-format');

momentDurationFormat(moment);

export default {
  name: 'Category',
  props: ['category'],

  data() {
    return {
      logTimeMenu: false,
      logTimeString: '',
    };
  },
  watch: {
    logTimeMenu(oldState, newState) {
      if (!newState) {
        this.logTimeString = '';
      }
    },
  },
  methods: {
    getProgress() {
      return ((this.category.object.logged / this.category.object.time) * 100);
    },
    formatDuration(duration) {
      return moment.duration(duration, 'seconds').format('d[d] h[h] m[m] s[s]', { trim: 'both' });
    },
    onLogTime() {
      this.logTimeMenu = false;
      const dur = parse(this.logTimeString, 's');
      this.$emit('log-time', { id: this.category.id, duration: dur });
    },
  },
};
</script>
